@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif;
}

.bg-gray-600:hover {
  background-color: #2d3748; /* Gray 800 */
}

.bg-blue-500 {
  background-color: #0056b3; /* Blue 700 */
}
.text-white {
  color: #ffffff;
}

.bg-green-500 {
  background-color: #30c806; /* green 700 */
}

.bg-orange-500 {
  background-color: #ff8c00; /* orange 700 */
}
.bg-yellow-500 {
  background-color: #f59e0b; /* Adjust yellow for better contrast */
}
/* Background Icons */
.bg-bitcoin {
  background-image: url('/images/bitcoin.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-coin {
  background-image: url('/images/coin.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-ethereum {
  background-image: url('/images/ethereum.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Falling Animation */
@keyframes fall {
  0% {
    transform: translateY(-50vh) rotate(0deg); /* Start slightly above the viewport */
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg); /* End below the viewport */
    opacity: 0.5; /* Fade slightly */
  }
}

.animate-fall {
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
